@model IEnumerable<BonaGustumo_Library.Model.MenuDuJour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plat_Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plat_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plat_Commentaire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plat_Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plat_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plat_Commentaire)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Plat_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Plat_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Plat_Id })
        </td>
    </tr>
}

</table>
